MONGO_URI=mongodb+srv://vishnukush10_db_user:5MX4mmTAAuP7lKSw@fms.zisrhoh.mongodb.net/test
PORT=5000
JWT_SECRET=ai-scholars-production-secret-change-me
mongodb+srv://vishnukush10_db_user:5MX4mmTAAuP7lKSw@fms.zisrhoh.mongodb.net/
mongodb+srv://vishnukush10_db_user:5MX4mmTAAuP7lKSw@fms.zisrhoh.mongodb.net/